<div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">


        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/city.jpg">
            <h4 class="h4"><b>Contact Us</b></h4>
        </div>
   
    <div class="mainContainer">
        <div>
            <img class="img" src="/assets/call.jpg">
        </div>
      
        <div class="login-page container">
            <div class="form">
                <div class="login">
                     <div class="login-header">
                       <h3>CONTACT US</h3><br>
                     </div>
                </div>
                    <form class="login-form">
                       <input type="text" placeholder="Full name">
                       <input type="email" placeholder="Email">
                       <textarea name="" id="" cols="34" rows="3" placeholder="Message" class="textarea"></textarea> <br><br>
                       <button class="send">SEND</button>
                    
                       <br><br>
                       <div >
                        <a href=""><i class="fab fa-instagram social" ></i></a> 
                        <a href=""><i class="bi bi-twitter social"></i></a>
                        <a href=""><i class="bi bi-linkedin social"></i></a>
                        <a href=""><i class="bi bi-facebook social"></i></a> 
                       </div>
                    </form>
            </div>
        </div>
    </div>
 
  
  <div class="secondContainer">
    <hr>
  

      <h3 class="h3">Have any queries?</h3>
  
      <h1>We're here to help.​</h1>
  
      <div class="box1">
              <h2>Sales</h2>
              <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
              <h2 class="number">0123456789</h2>
  
  
      </div>
  
  
      <div class="box1">
              <h2>Complaints</h2>
              <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
              <h2 class="number">0123456789</h2>
      </div>
  
      
      <div class="box1">
              <h2>Returns</h2>
              <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
              <h2 class="number">0123456789</h2>
  
  
      </div>
  
  
      <div class="box1">
              <h2>Marketing</h2>
              <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
              <h2 class="number">0123456789</h2>
  
  
      </div>
  
  
  
  </div>
</section>
</div>
  
  
  
  