<div class="container-fluid p-0" >
    <section class="row ">
        <div class=" text-center d-flex">
            <img class="img-fluid image" src="assets/city.jpg">
            <h4 class="h4"><b>About Us</b></h4>
        </div>


        <div>

            <div class="sideImage">
                <img class="calll" src="/assets/calll.jpg">
            </div>

            <div class="sideText">

                <h1 style="text-align: center;">About-us</h1><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quo voluptatum dolores dolor 
                    iure recusandae laudantium eos tempora maxime veniam minima, saepe commodi amet neque perferendis 
                    mollitia maiores nemo consequuntur atque facere ullam enim doloremque quisquam sed? Harum iusto odit 
                    cumque facere! Earum cum sed eligendi quo? Quos repudiandae neque explicabo earum veritatis, ratione 
                    illum fugiat officia, reiciendis dignissimos adipisci, repellendus maxime corrupti iusto sequi temporibus 
                    voluptatum? Et repellat illum corrupti iste aut culpa. Consequuntur, officia fugiat? Totam ratione ullam 
                    esse beatae veritatis adipisci sed voluptatibus tenetur consectetur laborum quo in magni consequuntur, 
                    perferendis voluptatum accusantium, culpa quia sapiente quibusdam? Lorem ipsum dolor sit amet consectetur, 
                </p>


                 <div>
                  <a href=""><i class="fab fa-instagram social" ></i></a> 
                  <a href=""><i class="bi bi-twitter social"></i></a>
                  <a href=""><i class="bi bi-linkedin social"></i></a>
                  <a href=""><i class="bi bi-facebook social"></i></a> 
                 </div>

            </div>

        </div>
	
    <hr>
        <div class="secondContainerr">
         
    
            <h2 class="h3">A Few Words About</h2>
        
            <h1>Our Team​</h1>
            <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
                <br> Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        
             
                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>

                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>
        

                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>
        

                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>
        
                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>
        

                <div class="box1">
                    <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
                </div>
        
        
    
                </div>


        <div class="thirdContainer"><br>
          
            
                 <div class="box2">
                     <img src="/assets/globe-free-img.png" alt="**" class="img3">
                     <h1 class="name">Worldwide Shipping</h1><br>
                     <p class="name2">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Optio, molestias.</p>
                 </div>
             

                 <div class="box2">
                     <img src="/assets/quality-free-img.png" alt="**" class="img3">
                     <h1 class="name">Best Quality</h1><br>
                     <p class="name2">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Optio, molestias.</p>
                 </div>
             

                 <div class="box2">
                     <img src="/assets/tag-free-img.png" alt="**" class="img3">
                     <h1 class="name">Best Offers</h1><br>
                     <p class="name2">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Optio, molestias.</p>
                 </div>
             

                 <div class="box2">
                     <img src="/assets/lock-free-img.png" alt="**" class="img3">
                     <h1 class="name">Secure Payments</h1><br>
                     <p class="name2">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Optio, molestias.</p>
                 </div>
    
        
    
         </div> 
    
    </section> 
</div>

