


.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	float: left;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color:black;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover{
	color: #3bba9c;
}


