

.navbar{
    height: 100%;
}


.logo{
    height: 50px;
    margin-left: -50px;
}
.left{
    float: left;
    margin-left: -350px;
}

// .right{
// // margin-left: 20px;

// }


p{
    margin: 1px;
}

.p1{
    font-size: 30px;
    color:  rgb(59, 161, 105);
}
.p2{
    color: rgb(143, 135, 135);
}
// .search{
//     margin-right: 500px;
// }

.input{
    width: 300px;
    height: 39px;
    margin-top: 10px;
}
.myCart{
    margin-left: 300px;
    
    
}
.logIn{
    margin: 10px;
}



.call{
    display: flex;
    justify-content: space-between; 
    margin-top:-50px;
    .call1{
    display: flex;
    float: left;
    column-gap: 20px;
      
    }
    }

    
.btn-lg{
    color: white;
    border: none;
    background-color: rgb(59, 161, 105);
}


























