<!-- categories -->
  
  
<div class="fea-product">
    <div>
    <h3>Explore categories</h3>
    </div>
    <div class="feature btn">
        <a href="">All</a>
        <a href="">vegetables</a>
        <a href="">Fruits</a>
        <a href="">Coffe & teas</a>
        <a href="">Meat</a>
    </div>
  </div><br>
  
  
  <div class="container1 centre ">
  
  <div class="card " style="width: 18rem;">
    <img src="/assets/peach.jpg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Peach</h5>
      <p class="card-text">10 iteam</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/veg.jpg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">vegetables </h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/straberry.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">strawberry</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/apple.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/orange.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Orange</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/potato.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">potato</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/carrot.png" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">carrot</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  </div><br><br>
  