<!-- categories -->
  
  
<div class="fea-product">
    <div>
    <h3>Explore categories</h3>
    </div>
    <div class="feature btn">
        <a href="">All</a>
        <a href="">vegetables</a>
        <a href="">Fruits</a>
        <a href="">Coffe & teas</a>
        <a href="">Meat</a>
    </div>
  </div><br>
  
<!--   
  <div class="container1 centre ">
  
  <div class="card " style="width: 18rem;">
    <img src="/assets/peach.jpg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Peach</h5>
      <p class="card-text">10 iteam</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/veg.jpg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">vegetables </h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/straberry.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">strawberry</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/apple.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/orange.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Orange</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/potato.jpeg" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">potato</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  
  <div class="card padding" style="width: 18rem;">
    <img src="/assets/carrot.png" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title">carrot</h5>
      <p class="card-text">10 iteams</p>
    </div>
  </div>
  </div><br><br>
   -->

    <!-- <div class="carousel-cell" *ngFor="let category of catData">
        <div class="card bg-warning-subtle p-3 m-2" >
            <img src="{{category.image}}" alt="" width="120" height="120" [routerLink]="['/catalog/products-list/',category.id]"/>
            <div class="card-body text-center">
                <h4>{{category.title}}</h4>

                <small>{{category.quantity}}</small>
            </div>
        </div>
        
    </div> -->

  <div class="container1 centre ">
     
  <div class="card padding " style="width: 18rem;" *ngFor="let category of catData">
    <img src="/assets/apple.jpeg"  class="card-img-top img" alt="..."  routerLink="/front/catelog/product-list/{{category.id}}">
    <div class="card-body">
      <h5 class="card-title">{{category.title}}</h5>
      <p class="card-text">{{category.quantity}}</p>
    </div>
  </div>

  
  </div>
<!-- 
  
  <div class="container-fluid mb-4 text-center" >
    <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">


      <div class="col mt-4"  *ngFor="let item of catData">
        <div class="card">
          <h1 class="card-title">{{item.tag}} </h1>
          <p>{{ item.address_line_1}}</p>
          <p>{{ item.address_line_2}}</p>
          <p>{{ item.area}}</p>
          <p>{{ item.city}}</p>
          <p>{{ item.state}}</p>
          <p>{{ item.country}}</p>
          <p>{{ item.postal_code}}</p>
          <p>{{ item.landmark}}</p>
           <button type="button" class="btn btn-secondary buttonClass">Deliver Here</button><br> 
           <button type="button" class="btn btn-secondary buttonClass a"> <i class="bi bi-trash"></i></button><br> 
           <button type="button" class="btn btn-secondary buttonClass b"> <i class="bi bi-pencil-square"></i></button> 
          
        </div>
      </div>

      
    </div>
  </div>

 -->






 