
<!-- button -->

  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Fruits and Vegetables</b></h4>
        </div>
    </section>
  </div>
  <hr>
  
  <!-- for filter button -->
  
  
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle filterButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter <i class="bi bi-filter-right"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"  (click)="forFilter('Fruit')" >Fruits</a></li>
      <li><a class="dropdown-item"  (click)="forFilter('vagetable')" >Vegetable</a></li>
    </ul>
  </div>
  
  <!-- main contain -->
  
  <div Class="container" >
    <div class="card " style="width: 18rem;" *ngFor="let data of filter">
        <img src="{{data.img}}" class="card-img-top img" alt="..." />
        <div class="card-body">
            <p class="card-text"><b>Category: </b>{{data.category}}</p>
            <p class="card-title" style="margin-top: -10px;"><b>Name: </b>{{data.name}}</p>
            <p class="card-title"><b>Weight: </b>{{data.quantity}} gm</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star unchecked"></span><br> 
            <p style="margin-top: 10px;"><b>Price: </b> ${{data.price}}  <del>$5</del><br></p>
            
            <a href="#" class="btn btn-primary">Add</a>
        
        </div>
    </div>
  </div>
  
  
  
  
  <div Class="container" >
    <div class="card " style="width: 18rem;" *ngFor="let data of filter">
        <img src="{{data.img}}" class="card-img-top img" alt="..." />
        <div class="card-body">
            <p class="card-text"><b>Category: </b>{{data.category}}</p>
            <p class="card-title" style="margin-top: -10px;"><b>Name: </b>{{data.name}}</p>
            <p class="card-title"><b>Weight: </b>{{data.quantity}} gm</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star unchecked"></span><br> 
            <p style="margin-top: 10px;"><b>Price: </b> ${{data.price}}  <del>$5</del><br></p>
            
            <a href="#" class="btn btn-primary">Add</a>
         
        </div>
    </div>
  </div>
  
  
  
  
  
  
  <!-- <ul>
  <li *ngFor="let cat of  filter">{{ cat.name }}</li>
  </ul> -->
  