<div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Checkout</b></h4>
        </div>
    </section>
  </div>
  <h5 class="h1">Select delivary Address </h5>
  <div class="secondContainer ">
   

    <input type="radio" name="address" value="value1"> Ahmedabad-Gujarat <br>
    <input type="radio" name="address" value="value2"> Bhavnagar-Gujarat <br>
    <input type="radio" name="address" value="value3"> Rajkot-Gujarat <br><br>

    <button routerLink="/front/cart" style="margin-left: 30%;" class="btn btn-primary ">Cancel</button>
    
    <button routerLink="/front/cart/orderSuccess" style="margin-left: 18%;" class="btn btn-primary">Place an order</button>


   

  </div>
