<div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Checkout</b></h4>
        </div>
    </section>
  </div>
  <h5 class="h1">Select delivary Address </h5>
   

    <input type="radio">


    
    
    <div class="container-fluid mb-4 text-center" >
      <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">


        <div class="col mt-4"  *ngFor="let item of addressData">

          <input type="radio" id="{{item.tag}}" (click)="getAddressId(item.id)">


          <div class="card">
            <h1 class="card-title">{{item.tag}} </h1>
            <p>{{ item.address_line_1}}</p>
            <p>{{ item.address_line_2}}</p>
            <p>{{ item.area}}</p>
            <p>{{ item.city}}</p>
            <p>{{ item.state}}</p>
            <p>{{ item.country}}</p>
            <p>{{ item.postal_code}}</p>
            <p>{{ item.landmark}}</p>
            
          </div>
        </div>
  
        
      </div>
    </div>
   

    <button routerLink="/front/cart" style="margin-left: 30%;" class="btn btn-primary ">Cancel</button>
    
    <button routerLink="/front/cart/orderSuccess" style="margin-left: 18%;" class="btn btn-primary">Place an order</button>


   

