

.left{
    margin-left: -60px;
    width: 460px;
    float: left;

    
.logo{
    height: 70px;
    margin-left: -110px;
    float: left;
}


.p1{
    font-size: 30px;
    color: whitesmoke;
    // margin-left: -100px;
  

}
.p2{
    color: whitesmoke;
    margin-left: 135px;

}
}


p{
    margin: 1px;
}

.secondContainer{
    // border: 1px solid black;
    height: 50px;
    width: 900px;
    position: absolute;
    margin-left: 450px;
    margin-top: 15px;
   

    .call-us{
        float: left;
      
    }

    .email {
        float: left;
        margin-left: 100px;
    }

    .address{
        float: left;
        margin-left: 100px;
    }
}

.facebook{
    margin-left: 70%;
   
}

.facebook:hover{
    background-color: black;
}

.linkedin{

    margin-left: 30px;

}

.linkedin:hover{
    background-color: black;
    
}
.instagram{

    margin-left: 30px;

}

.instagram:hover{
    background-color: black;
}
.twitter{

    margin-left: 30px;

}

.twitter:hover{
    background-color: black;
}

.container{
    height: 150px;
    
}


