
  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Order Details</b></h4>
        </div>
    </section>
  </div>
  <hr>

  <app-sidebar></app-sidebar>




    <h2>Past Orders</h2>


<div class="container">
  
  <table>
    <tr>
      <th></th>
      <th>Order Id</th>
      <th>Customer Name</th>
      <th>Date</th>
      <th>Items</th>
      <th>Total</th>
      <!-- <th>Status</th> -->

      
    </tr>
    <tr *ngFor="let order of orders">
      <td><i class="bi bi-truck"></i></td>
      <td>{{order.id}}</td>
      <td>{{order.customerName}}</td>
      <td>{{order.orderDate | date}}</td>
      <td>
        <ul>
          <li *ngFor="let item of order.items">{{item.name}} ({{ item.quantity }})</li>
        </ul>
      </td>

      <td>{{order.totalPrice}}</td>
   
    </tr>

   
    
   
</table>

</div>