
  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Order Details</b></h4>
        </div>
    </section>
  </div>
  <hr>

  <app-sidebar></app-sidebar>




    <h2>Past Orders</h2>
<div class="container">
  
  <table>
    <tr>
      <th></th>
      <th>Order Number</th>
      <th>Date</th>
      <th>Items</th>
      <th>Total</th>
      <th>Status</th>
      
    </tr>
    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    <tr>
      <td><i class="bi bi-truck"></i></td>
      <td>12345</td>
      <td>01/01/2001</td>
      <td>3 items</td>
      <td>$50.00</td>
      <td>Completed</td>
    </tr>

    
   
</table>

</div>