
<div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>LOGIN</h3>
        </div>
      </div>

        <form  [formGroup]="loginForm" class="login-form">

              <input type="text" placeholder="username" formControlName="username">
              <span *ngIf="username && username.invalid && username.touched" class="span">Please enter valid value!</span>
            
            
              <input type="password" placeholder="Password" formControlName="password">
              <span *ngIf="password && password.invalid && password.touched" class="span">Please enter valid value!</span>
            
              <button [disabled]="loginForm.invalid" (click)="login()">Log in</button><br><br>
            
              <a routerLink="/front/user/registration" class="msg">Create an account</a>
      
      </form>
    </div>
  </div>


 