
<div class="form-group">
    <label for="categorySelect">Filter by category:</label>
    <select class="form-control" id="categorySelect" (change)="slectedCetegory()" [(ngModel)]="getcategory" >
      <option value="all" >All categories</option>
      <option value="2">Fruits</option>
      <option value="1">Vegetables</option>
      <option value="3">Bakery and bread</option>
      <option value="5">Dairy and Eggs</option>
      <option value="4">Meat and seafood</option>
      <option value="6"> Beverages</option>
      <!-- <option value="snacks&sweets">snacks and sweets</option> -->
    </select>
</div>
