
  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Change Password</b></h4>
        </div>
    </section>
  </div>
  <hr>
  <app-sidebar></app-sidebar>

  
  <div class="container">
    <form [formGroup]="form">
      <div class="column jumbotron">
        

        
        <div class="col-sm-12 form-group mb-0">
            <button class="btn btn-primary float-right btnn" (click)="submit()">Submit</button>
          </div>

          
        <div class="col-sm-6 form-group">
          <label>Currentno Password</label> <input type="password" class="form-control" formControlName="oldPassword" >
          <span *ngIf="oldPassword && oldPassword.invalid && oldPassword.touched" class="span">Please enter valid value!</span>
         
        </div>

        <div class="col-sm-6 form-group">
          <label>New Password</label> <input type="password" class="form-control"  formControlName="newPassword">
          <span *ngIf="newPassword && newPassword.invalid && newPassword.touched" class="span">Please enter valid value!</span>
         
        </div>
<!-- 
        <div class="col-sm-6 form-group">
          <label>Confirm New Password</label> <input type="password" class="form-control" formControlName="confirmPassword" >
          <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched" class="span">Please enter valid value!</span>
         
        </div> -->

     
      
  
      </div>
    </form>
  </div>
  <br><br>