

  
<div class="call">
    <a routerLink="/front/catlog/category">  <button type="button" class="btn btn-primary btn-lg" ><i class="bi bi-grid"></i>Brows All Categories</button>  </a>
    <div class="call1">
        <h3><i class="bi bi-telephone"></i>1233-7777</h3>24/7 support center
    </div>
  </div><hr><br>
  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Change Password</b></h4>
        </div>
    </section>
  </div>
  <hr>
  <app-sidebar></app-sidebar>

  
  <div class="container">
    <form>
      <div class="column jumbotron">
        

        
        <div class="col-sm-12 form-group mb-0">
            <button class="btn btn-primary float-right btnn">Submit</button>
          </div>

          
        <div class="col-sm-6 form-group">
          <label>Current Password</label>
          <input type="password" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>New Password</label>
          <input type="password" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>Confirm New Password</label>
          <input type="password" class="form-control" >
        </div>

     
      
  
      </div>
    </form>
  </div>
  <br><br>