.call{
    display: flex;
    justify-content: space-between; 
    .call1{
    display: flex;
    float: left;
    column-gap: 20px;
    
}} 

.image {
    height: 300px;
    width: 100%;
    opacity: .3
  
 }

 .h4{
    position: absolute;
    margin-left: 25%;
    margin-top: 100px;
    font-size: 80px;
    // text-align: center;
}


// form 



label {
    font-weight: 600;
    color: #666;
}


.container{
    width: 50%;
    height: auto;
    margin-left: 40%;
    margin-bottom: 3%;
}

.btnn{
    margin-left: 40%;
    background-color: rgb(59, 161, 105);
    border: none;
}
.btnn:hover{
    background-color: #4CAF50;

}
.span{
    color: whitesmoke;
    background-color: red;
    padding: 5px 147px 5px 45px;
    // text-align: center;
    margin-top: 5px;
    }
  