

  
<div class="call">
    <a routerLink="/front/catlog/category">  <button type="button" class="btn btn-primary btn-lg" ><i class="bi bi-grid"></i>Brows All Categories</button>  </a>
    <div class="call1">
        <h3><i class="bi bi-telephone"></i>1233-7777</h3>24/7 support center
    </div>
  </div><hr><br>
  
  <div class="container-fluid p-0">
    <section class="row no-gutters align-items-center">
        <div class="col-12 text-center d-flex">
            <img class="img-fluid image" src="assets/vag&frui.jpg">
            <h4 class="h4"><b>Profile</b></h4>
        </div>
    </section>
  </div>
  <hr>

  <app-sidebar></app-sidebar>



  <!-- form -->

  <div class="container">
    <form>
      <div class="row jumbotron">
        

        
        <div class="col-sm-12 form-group mb-0">
            <button class="btn btn-primary float-right btnn">Submit</button>
          </div>

          
        <div class="col-sm-6 form-group">
          <label>First Name</label>
          <input type="text" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>Last name</label>
          <input type="text" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>Email</label>
          <input type="email" class="form-control" >
        </div>

        <div class="col-sm-6 form-group">
          <label>Contact Number </label>
          <input type="number" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>Alternate Email</label>
          <input type="email" class="form-control"  >
        </div>

        <div class="col-sm-6 form-group">
          <label>Alternate Contact Number</label>
          <input type="number" class="form-control" >
        </div>
       
        <div class="col-sm-6 form-group">
          <label>Date Of Birth</label>
          <input type="Date"  class="form-control">
        </div>
       
      
  
      </div>
    </form>
  </div>
  <br><br>