.btn {
    padding: 10px 20px;
    background-color: #2E8B57;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }

  
.btn:hover {
    background-color: #4CAF50;

    
  }